{% extends "layout.htm" %}
{% block content %}
<div id="obnizId" style="display:none;">{{ obniz_id }}</div>
<div id="accessToken" style="display:none;">{{ access_token }}</div>
<script src="/static/home.js"></script>
<div class="container">
    <canvas id="park"></canvas>
    <div class="center">
        <b>Your Score: <span id="score">0</span></b> (rank: <span id="rank"></span>/<span id="connected"></span>)
    </div>
    <div class="center">
        <button id="apply-btn" class="btn waves-effect waves-light">Apply</button>
        <button id="reset-btn" class="btn waves-effect waves-light">Reset</button>
    </div>
    <div id="editor"></div>
</div>
{% endblock %}